<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ project.name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.png" />
</head>
<body id="phaser-example">
<div id="game"></div>
<div id="orientation"></div>
<div id="logo">
    <div class="logo"></div>
    <p>&copy; 2014 - Dark Overlord of Data</p>
</div>
<script type="application/dart" src="main.dart"></script>
<script type="text/javascript"  src="cordova.js"></script>
<script type="text/javascript"  src="packages/browser/dart.js"></script>
</body>
</html>
